<%= form_for(@address) do |f| %>
<div class="field">
 <label>IPアドレス</label>
 <P><%= @address.ipadd  %></P>

  <% if @address.status == 0 %>
<div class="form-group">
  <label>利用用途</label>
  <%= f.text_field :use, class: 'form-control'  %></P>
</div>
  <%= f.hidden_field :dbtype, value: 1  %>
  <%= f.hidden_field :status, value: 1 %> <br>
  <P><%= f.submit '設定手順書DL', name: "DL_button", class: 'btn btn-info btn-lg' %></P>
  <%= f.submit '利用開始', class: 'btn btn-success btn-lg',  data: { confirm: '設定手順書はDL済みですか？'} %>
  <%= link_to '戻る', addresses_path, class: 'btn btn-secondary btn-lg'  %>

  <% else %>
  <div class="form-group">
   <label>利用用途(廃止時に消去されます)</label></br>
   <%= @address.use  %></P>
  </div>
  <%= f.hidden_field :use, value: "free"  %>
  <%= f.hidden_field :dbtype, value: 1  %>
  <%= f.hidden_field :status, value: 0 %>
  <P><%= f.submit '設定手順書DL', name: "DL_button", class: 'btn btn-info btn-lg' %></P>
  <%= f.submit '廃止する', class: 'btn btn-danger btn-lg', data: { confirm: '設定手順書はDL済みですか？'} %>
  <%= link_to '戻る', addresses_path, class: 'btn btn-secondary btn-lg'  %>

  <% end %>

  <br>
</div>
<% end %>
