<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<br/>
<div class="container">
   <div class="row">
  <div class="wrapper col-md-10 icol-md-offset-1 col-sm-12">
<H3><%= @address.addinfo.db_name %></H3>
<P><%= simple_format(@address.addinfo.db_info) %></P>
<div align="right">
<%= link_to '編集', edit_addinfo_path(@address.addinfo_id), class: 'btn btn-link btn-sm' %>
</div>
 </div>
</div>

  <div class="wrapper col-md-10 col-md-offset-1 col-sm-12">
  <table class="table table-hover table-condensed table-bordered">
   <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>IPアドレス</th>
      <th>用途</th>
      <th>割当状況</th>
      <th>更新者</th>
      <th>更新日時</th>
      <th>アクション</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.order('id').each do |address| %>
      <tr>
        <td><%= address.id %></td>
        <td><%= address.ipadd %></td>
        <td><%= address.use %></td>
	<td>
	<% if address.status == 0%>
		未利用
	<% else %>
		利用中
	<% end %>
	</td>
        <td>
	<% if address.user_id.nil? %>
	-	
	<% else %>
	<%= address.user.name %>
	<% end %>
	</td>
	<td><%= address.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
        <% if address.status == 0%>
	<%= link_to '利用開始', edit_address_path(address), class: 'btn btn-success btn-sm'  %>
	<% elsif address.status == 1%>
	<%= link_to '利用停止', edit_address_path(address), class: 'btn btn-danger btn-sm'  %>
	<% else %>
	※Status異常
	<% end %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<H3>データベースを一括更新する</H3>
<P>既存アドレス情報の変更、及び新しいアドレスを追加することが出来ます。<br>
使い方・CSVのフォーマットは下記リンクから、右クリックで保存して下さい。</P>
<%= link_to "使い方", getmanual_addresses_path, class: "btn btn-mini btn-link" %>
<%= link_to "CSVフォーマット", getformat_addresses_path, class: "btn btn-mini btn-link" %>
<%= form_tag import_addresses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
</div>


<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

</div>
