<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="container">
  <div class="wrapper col-md-10 col-md-offset-1 col-sm-12">
<h1>アドレス一覧</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>IPアドレス</th>
      <th>用途</th>
      <th>割当状況</th>
      <th>更新者</th>
      <th>更新日時</th>
      <th>アクション</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.order('id').each do |address| %>
      <tr>
        <td><%= address.id %></td>
        <td><%= address.ipadd %></td>
        <td><%= address.use %></td>
        <td>
	<% if address.status == 0%>
		未利用
	<% else %>
		利用中
	<% end %>
	</td>
        <td></td>
        <td><%= address.updated_at %></td>
        <td>
        <% if address.status == 0%>
	<%= link_to '利用開始', edit_address_path(address), class: 'btn btn-success btn-sm'  %>
	<% elsif address.status == 1%>
	<%= link_to '利用停止', edit_address_path(address), class: 'btn btn-danger btn-sm'  %>
	<% else %>
	※Status異常
	<% end %>
	</td>
      </tr>
    <% end %>

<%= form_tag import_addresses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>

<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

  </tbody>
</table>
  </div>
</div>
